.container-heroAssessmentTest {
  background: #7622D7;
  background-size: cover;
  padding-top: 80px;
  min-height: 861.5px;
  width: 100vw;
  padding-bottom: 48px;
}

.container-heroAssessmentTest h3 {
  font-family: 'Roobert-medium';
  color: #FFFFFF;
  text-align: center;
  font-size: 42px;
  line-height: 48px;
  letter-spacing: -0.20000000298023224px;
  margin-top: 0px;
  margin-bottom: 44px;
}

.container-heroAssessmentTest__linked {
  font-family: 'Roobert-semibold';
  font-size: 18px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 44px;
}

.container-heroAssessmentTest__text {
  background-color: white;
  width: 1088px;
  min-height: 450px;
  padding: 48px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 0 auto;
  margin-bottom: 48px;
  background-color: #F1E9FB;
  flex: 1 0 0;
  max-width: 80vw;
  flex-wrap: wrap;
}

.container-heroAssessmentTest__text img {
  max-width: 450px;
  max-height: 450px;
}

.container-heroAssessmentTest__text-content {
  font-family: 'Roobert';
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: left;
  align-items: flex-start;
  max-width: 100%;
}

.container-heroAssessmentTest__text h3 {
  font-family: 'Roobert-medium';
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -0.20000000298023224px;
  max-width: 100%;
  color: black;
  margin-bottom: 20px;
}

.container-heroAssessmentTest__text p {
  font-family: 'Roobert';
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.44999998807907104px;
  width: 417px;
  max-width: 100%;
  margin: 0;
}

.container-heroAssessmentTest__text button {
  background-color: #F1E9FB;
  padding: 16px 32px 16px 32px;
  gap: 0px;
  border-radius: 32px;
  border: 3px solid black;
  opacity: 1;
  align-self: flex-start;
  cursor: pointer;
  font-family: 'Roobert-semibold';
  font-size: 16px;
}

.container-heroAssessmentTest__text button:hover {
  background-color: #FFFFFF;
}

.container-heroAssessmentTest__responsive {
  display: flex;
  flex-direction: row;
}

.container-heroAssessmentTest__responsive .h3-responsive {
  display: none;
}

/* Media query for mobile devices with min width of 360px */

@media (max-width: 860px) {
  .container-heroAssessmentTest {
    padding: 20px;
  }

  .container-heroAssessmentTest h3 {
    text-align: start;
    padding-left: 20px;
    padding-top: 20px;
  }

  .container-heroAssessmentTest__text-content h3 {
    font-size: 24px;
    line-height: 28px;
    padding: 0;
    text-align: left;
    display: none;
  }

  .container-heroAssessmentTest__responsive .h3-responsive {
    display: flex;
    align-items: center;
  }

  .container-heroAssessmentTest__linked {
    font-size: 16px;
    line-height: 22px;
    flex-direction: row;
    gap: 15px;
  }

  .container-heroAssessmentTest__text {
    padding: 20px;
    flex-direction: column;
    gap: 20px;
  }

  .container-heroAssessmentTest__text img {
    max-width: 122px;
    height: 122px;
    margin-bottom: 20px;
  }

  .container-heroAssessmentTest__text-content {
    align-items: center;
    text-align: left;
  }

  .container-heroAssessmentTest__text h3 {
    font-size: 24px;
    line-height: 30px;
    text-align: left;
  }

  .container-heroAssessmentTest__text p {
    font-size: 16px;
    line-height: 22px;
    text-align: left;
  }

  .container-heroAssessmentTest__text button {
    padding: 12px 24px;
    margin-top: 20px;
    margin-left: 0px;
  }
}
