.hr-question {
  width: 281px;
  background-color: #EFEFEF;
  font-size: 20px;
  display: flex;
  border-radius: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-bottom: 39px;
  position: relative;
  max-width: 60vw;

}

.hr-question img {
  position: absolute;
  bottom: -20px;
  width: 99px;
  left: -50px;
}

.hr-question p {
  width: 100%;
}

.woman-reply {
  width: 450px;
  background-color: #F4EDFC;
  font-size: 20px;
  display: flex;
  border-radius: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin: 10px auto;
  position: relative;
  cursor: pointer;
  max-width: 60vw;
  border: 2px solid transparent
}


.woman-reply-selected {
  position: relative;
  float: right;
  background-color: #E1CEF6;
  width: 345px;
  min-height: 70px;
}

.woman-reply:hover {
  background-color: #E5D5F7;
  border: 2px solid #7622D7;
}


.woman-reply-selected:hover {
  background-color: #E1CEF6;
  border: none;
}

.woman-reply-selected img {
  position: absolute;
  bottom: -20px;
  width: 99px;
  right: -45px;
}


.avatar {
  display: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media(max-width:860px) {
  #avatar-hr {
    display: flex;
    position: absolute;
    width: 68px;
    bottom: -80px;
    left: -105px;

  }

  #avatar-woman {
    display: flex;
    position: absolute;
    width: 68px;
    bottom: -80px;
    right: -105px;
  }
  .woman-reply {
    width:300px;
  }
  .woman-reply-selected {
    margin-right: 68px;
    margin-bottom: 50px;
  }

  .hr-question {
    margin-left: 68px;
    margin-bottom: 74px;
  }

  .hr-question img {
    width:51px;
    left:-28px;
    bottom:-18px;
  }

  .woman-reply-selected img {
    width:51px;
    right: -28px;
    bottom:-18px;
  }
  .hr-question, .woman-reply {
    padding:10px;
  }
  /* .woman-reply:hover {
    background-color:  #F4EDFC;
    border: none;
  }
  .woman-reply:active {
    background-color: #E5D5F7;
    border: 2px solid #7622D7;
  } */
}
