html {
    font-family:

}

.container-hero {
    display: flex;
    flex-shrink: 0;
    background: #F6EEFC;
    background-size: cover;
}

.container-hero__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    color: #000;
    font-family: Roobert;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    max-width: 50%;
    padding-left: 24px;
    font-weight: bold;

}

.container-hero p {
    font-family: Roobert;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    display: flex;
    /* align-items: center; */
    max-width: 50%;
    margin-left: 24px;
}

button {
    border-radius: 32px;
    width: 166px;
    height: 52px;
    border: 2px solid #7622D7;
    background: #7622D7;
    color: #FFFFFF;
    margin-left: 24px;
    margin-bottom: 10px;
}

.container-statistics {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: white;
    background-size: cover;
    justify-content: space-evenly;

}

.container-statistics p {
    font-family: Roobert;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;


}

/* img {
    width: 460px;
    height: 390px;
    position: relative;
    margin-right: 24px;
} */
