.container-heroGrowTogether {
  display: flex;
  flex-shrink: 0;
  background-color: #F2E9FC;
  background-size: cover;
  flex-wrap: wrap-reverse;
  padding-left: 200px;
  width: 100%;
  padding-top: 120px;
  padding-bottom: 120px;
}

.container-hero__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-heroGrowTogether h2 {
  color: #000;
  font-family: "Roobert-medium";
  font-size: 42px;
  font-style: normal;
  line-height: 48px;
  max-width: 50vw;
  padding-left: 24px;
  width: 460px;
  margin: 0;
}

.container-heroGrowTogether p {
  font-family: "Roobert";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  display: flex;
  margin-left: 24px;
  max-width: 50vw;
  margin-bottom: 79px;
  width: 460px;
}

.container-hero__main button {
  font-family: "Roobert-semibold";
  color: black;
  border-radius: 32px;
  width: 285px;
  height: 52.5px;
  background-color: #F1E8F9;
  margin-left: 24px;
  cursor: pointer;
  font-size: 16px;
  border: 3px solid black;
}

.container-heroGrowTogether img {
  width: 500px;
  height: fit-content;
  gap: 0px;
  margin-left: 52px;
}

/* styles for mobile  */

@media (max-width: 860px) {
  .container-heroGrowTogether {
    padding-left: 35px;
    margin: 0;
    flex-direction: column-reverse;
    width: 100%;
    padding: 35px;
    align-items: start;
  }

  .container-hero__text {
    align-items: flex-start;
  }

  .container-heroGrowTogether h2 {
    font-size: 24px;
    line-height: 28px;
    max-width: 100%;
    padding-left: 0;
    text-align: flex-start;
  }

  .container-heroGrowTogether p {
    font-size: 18px;
    line-height: 24px;
    max-width: 100%;
    margin-left: 0;
    text-align: flex-start;
  }

  .container-hero__main button {
    margin-left: 0;
  }

  .container-hero__main {
    max-width: 100%;
  }

  .container-heroGrowTogether img {
    height: 150px;
    width: 150px;
    margin: 0px;
    margin-top: 26px;
  }
}
