header {
    font-family: 'Roobert-semibold';
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 74px;
}

h1 {
    color: black;
    font-size: 40px;
    margin-left: 30px;
}

nav {
    float: right;
    margin-right: 20px;
    background-color: white;
    padding: 26px;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding-right: 24px;
}

a:hover {
    color: grey;
}

a.active {
    font-weight: bold;
    color: #7622D7;
}

.logo {
    margin-left: 120px;
    width: 97px;
}

.hamburger {
    display: none;
}

.interview-button {
    background-color: #F1E9FB;
    padding: 10px 20px;
    border-radius: 32px;
    border: 2px solid black;
    cursor: pointer;
    font-family: 'Roobert-semibold';
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: black;
    transition: background-color 0.3s;
}

.interview-button.active {
    background-color: #7622D7;
    color: white;
}


@media (max-width: 860px) {
    header {
        width: 100vw;
        display: flex;
        justify-content: space-between;
    }

    .hamburger {
        display: block;
        margin-bottom: 10px;
        margin-right: 26px;
        margin-top: 22px;
        z-index: 1000;
        position: relative;
    }

    header button {
        all: unset;
    }

    nav {
        display: none;
        flex-direction: column;
        align-items: flex-start;
    }

    nav.menu-open {
        display: flex;
        z-index: 50;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
    }

    nav a {
        padding: 10px 0;
    }

    nav span {
        display: none;
    }

    .logo {
        margin-left: 28px;
    }

    .interview-button {
        font-size: 16px;
        padding: 10px;
    }
}

@media (max-width: 1040px) {
    nav a {
        font-size: 16px;
    }
}
