.container-employers-two {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    background: #F2E9FC;
    background-size: cover;
    padding-left: 200px;
       
}

.container-employers-two__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.container-employers-two__text h2 {
    color: #000;
    font-family: "Roobert";
    font-size: 42px;
    font-weight: 500;
    font-weight: bold;
    line-height: 48px;
    margin-top: 112px;
    margin-bottom: 31px;
    width: 460px;
}

.container-employers-two p {
    font-family: "Roobert";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    display: flex;
    width: 460px;
    margin-left: 24px;
    margin-bottom: 55px;
    
}

.container-employers-two img {
    width: 500px;
    height: fit-content;
    margin-left: 53px;
    margin-top: 70px;
 
}