.container-employeeSection {
  display: flex;
  align-items: center;
  background-color: #85B0FF;
  flex-wrap: wrap;
  padding-left: 200px;
}

.container-employeeSection__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-employeeSection__text h2 {
  max-width: 100%;
  color: #000;
  font-family: "Roobert-medium";
  font-size: 56px;
  font-weight: 500;
  line-height: 61px;
  margin-top: 112px;
  margin-bottom: 31px;
}

.container-employeeSection__text p {
  font-family: "Roobert-medium";
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  display: flex;
  width: 469px;
  margin-bottom: 89px;
}

.container-employeeSection__text button {
  border-radius: 32px;
  width: 166px;
  height: 52px;
  border: 2px solid #7622D7;
  background: #7622D7;
  color: #FFFFFF;
  margin-bottom: 106.5px;
  font-family: 'Roobert-semibold';
  cursor: pointer;
  font-size: 16px;
}

.container-employeeSection__text button:hover {
  background: #9764d1;
  border: 2px solid #9764d1;
}

.container-employeeSection__image img {
  width: 390px;
  height: 390px;
  margin-left: 88px;
  margin-top: 20px;
  margin-bottom: 40px;
}

/* style for mobile  */

@media (max-width: 860px) {
  .container-employeeSection {
    padding-left: 35px;
    padding-right: 20px;
    width: 100%;
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .container-employeeSection__text {
    text-align: left;
    margin-top: 32px;
  }

  .container-employeeSection__image img {
    width: 154px;
    height: 154px;
    margin-top: 64px;
    margin-left: 0;
  }

  .container-employeeSection__text h2 {
    font-size: 28px;
    line-height: 30px;
    margin: 0;
    padding: 0;
  }

  .container-employeeSection__text p {
    width: auto;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 23px;
    margin-left: 0;
  }

  .container-employeeSection__text button {
    margin-left: 0;
    margin-bottom: 103.5px;
  }
}
