.footer {
  font-family: "Roobert";
  padding: 2.5rem 5rem;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1e8f9;
  width: 100vw;
}

.footer h3 {
  font-family: "Roobert";
  font-size: 18px;
  text-align: center;
  margin-bottom: 1rem;
}

.footer-container {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.footer-column {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.social-media,
.contact,
.get-involved {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.get-involved {
  align-items: flex-end;
}

.social-media__row {
  display: flex;
  margin-bottom: 1rem;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  height: 20px;
  width: 20px;
  margin-right: 0.5rem;
  display: inline-block;
  vertical-align: middle;
}

.get-involved__employee,
.get-involved__employer {
  color: black;
  text-decoration: underline;
  margin-bottom: 1rem;
  margin-top: 0;
} 


.footer-note {
  margin-top: 1.5rem;
  font-size: 0.8rem;
  text-align: center;
  width: 100%;
}


@media (max-width: 700px) {
  .footer {
    padding: 1rem;
    justify-content: center;
  }

  .footer-container {
    align-items: flex-start;
    padding: 0 20px;
    justify-content: flex-start;
  }
  .footer-column {
    width:50%;
  }

  .social-media,
  .social-media__row,
  .contact,
  .get-involved {
    width: 100%;
    margin-bottom: 1rem;
  }

  .social-media {
    align-items: flex-start;
  }

  .contact {
    align-items: flex-start;
  }

  .get-involved {
    align-items: flex-start;
  }

}
