@font-face {
  font-family: 'Roobert';
  src: url('../src/fonts/RoobertRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roobert-bold';
  src: url('../src/fonts/RoobertBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roobert-semibold';
  src: url('../src/fonts/RoobertSemiBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roobert-medium';
  src: url('../src/fonts/RoobertMedium.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}
