@font-face {
  font-family: 'Roobert';
  src: url('../src/fonts/RoobertRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roobert-bold';
  src: url('../src/fonts/RoobertBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roobert-semibold';
  src: url('../src/fonts/RoobertSemiBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roobert-medium';
  src: url('../src/fonts/RoobertMedium.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}


/* .container {
  max-width: 100vw;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}


body {
  margin: 0;
  padding: 0;
  background-color: #ebeff4;
}

h2 {
  font-size: 50px;
  height: 50vh;
} */
